<ion-header [translucent]="false">
  <ion-toolbar class="with-border">
      <ion-item lines="none">
        <ion-thumbnail>
            <img src="../../../../../assets/images/splash.svg">
        </ion-thumbnail>
        <ion-label>Chef</ion-label>
      </ion-item>

      <ion-buttons mode="ios" slot="end">
          <ion-buttons slot="start">
              <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="has-tabs">
  <div class="content-wrapper column start">
    <h1>Review</h1>
    <p>Help us suggest more yummy dishes in your next meal plan by completing these reviews.</p>
    <div class="mealslot">
      <ion-card *ngFor="let meal of mealSlots">
        <div class="image-wrap">
          <img src="{{ meal.recipe.image }}"/>
        </div>
        <ion-card-content>
          <h2>{{ meal.recipe.title }}</h2>
          <ion-button mode="ios" type="submit" (click)="reviewMeal(meal.recipe)"><span>Review</span></ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
