ion-content {
    --padding-start: 24px;
    --padding-end: 24px;
    --padding-top: 20px;

    .content-wrapper {
        align-items: flex-start;

        h1 {
            font-size: 36px;
            line-height: 45px;
            font-family: var(--font-family-heading);
            font-style: var(--font-style-heading);
            font-weight: var(--font-weight-heading);

            margin-bottom: 7px;
        }

        p {
            margin: 5px auto;
        }
    }

    .mealslot {
        width: 100%;
        max-width: 400px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;

        &:last-child {
            margin-bottom: 100px;
        }

        .image-wrap {
            height: 225px;
            width: 100%;
            overflow: hidden;
            text-align: center;
            border-bottom: 1px solid white;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
        }
    }

    ion-card {
        border-radius: 8px;
        min-height: 365px;
        margin: 10px 0;

        &:last-child {
            margin-bottom: 130px;
        }

        ion-card-content {
            padding: 22px 18px 5px;
        }

        h2 {
            margin: 0 0 19px;
            font-family: var(--font-family-body);
            font-weight: var(--font-weight-body);
            font-style: var(--font-style-body);
            font-size: 24px;
            line-height: 28px;
            color: var(--ion-color-font-main);
        }
    }
}