<ion-header [translucent]="false" class="ion-no-border">
    <ion-toolbar>
		<ion-buttons mode="ios" slot="start" (click)="prevStage()">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<img class="logo" src="../../../../../assets/images/header-logo.svg">
	</ion-toolbar>
</ion-header>
<ion-content #scroller [ngClass]="{'loading': isLoading}" no-bounce has-bouncing="false" forceOverscroll="false" force-overscroll="false">

	<div class="loading-overlay">
		<ion-spinner name="crescent" color="primary"></ion-spinner>
	</div>

	<div class="content-wrapper column start preferences" *ngIf="!isLoading">
		<div class="progress">
			<onboarding-progress [showOverall]="false"></onboarding-progress>
			<div class="total-progress">PART 1: Meal Preferences ({{ page }} of {{ mealPreferenceOptions?.length }})</div>
		</div>
		<div class="meal-nav"><button class="butt-previous" *ngIf="activeSlide > 0" (click)="showPrevMeal()">< Show previous meal</button></div>
		<h1 class="content-prompt">Meal Preferences</h1>
		<div class="slide-options">
			<ion-slides #mealSlides noSwiping (ionSlideDidChange)="setPagerNum()" [options]="{ allowTouchMove: false, autoHeight: true }">
				<ion-slide *ngFor="let meal of mealPreferenceOptions; let mealIndex = index">
					<ion-card>
						<div class="image-wrap">
							<img src="{{ meal.image }}" (load)="imageLoaded(meal)" [ngClass]="{'loaded': meal.loaded }"/>
						</div>
						<ion-card-header>
							<ion-card-title>{{ meal.title }}</ion-card-title>
						</ion-card-header>
						<ion-card-content>
							<div class="content-row">
								<div class="detail">
									<span class="icon ingredients"></span>
									<span class="sub-heading">Ingredients</span>
								</div>
							</div>
							<p class="description-detail">
								<ion-grid>
									<ion-row no-padding>							
										<ion-col size="6" *ngFor="let ingredient of meal.ingredients; let i = index">
											<span >{{ ingredient }}</span>
										</ion-col>
									</ion-row>
								</ion-grid>
							</p>
							<div class="question-group" *ngFor="let question of meal.questions; let questionIndex = index" [ngClass]="{'disabled': question.disabled}">
								<h2>{{ question.title }}</h2>
								<div class="question-option-radio" *ngFor="let option of question.options; let optionIndex = index"  (click)="selectPreference(meal.id, question, option, optionIndex, questionIndex, mealIndex)" [ngClass]="{'selected': option.selected}">
									<div class="radio"></div>
									<div class="title">{{ option.title }}</div>
								</div>
							</div>
							<ion-button class="next" (click)="showNextMeal(mealIndex)">Next Meal</ion-button>

							<!--<div class="preference-question-group" *ngFor="let question of meal.questions; let questionIndex = index" [ngClass]="{'visible': question.active}">
								<p class="sub-heading">Question {{ questionIndex + 1 }} of {{ meal.questions.length }}:</p>
								<ion-button *ngFor="let option of question.options; let optionIndex = index" [disabled]="question.disabled" (click)="selectPreference(meal.id, question, option, optionIndex, questionIndex, mealIndex)" class="butt-preference" [ngClass]="{'selected': option.selected}" color="{{ option.selected ? 'secondary' : 'primary'}}" slot="start" mode="ios" id="option-{{meal.id}}{{questionIndex}}{{optionIndex}}"><span>{{ option.title }}</span></ion-button>
								<ion-button class="transparent-butt" [ngClass]="{'hidden': questionIndex == 0}" (click)="backToPrevQuestion(questionIndex, mealIndex)"> &#60; Back to Previous Question</ion-button>

							</div>-->
						</ion-card-content>
					</ion-card>
				</ion-slide>
			</ion-slides>
		</div>
		<div class="pager">{{ (mealPreferenceOptions?.length - page) }} meals remaining</div>
	</div>

</ion-content>