<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start" (click)="prevStage()">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen>

	<div class="content-wrapper column start">
		<div class="progress">
            <ion-progress-bar indeterminate color="tertiary" value="{{progressValue}}"></ion-progress-bar>
			<p class="progress-percentage"> {{progressValue * 100}}% Complete</p>
		</div>
		<h1 class="content-prompt">Meal Preferences</h1>
		<div class="slide-options">
			<ion-slides #mealSlides (ionSlideDidChange)="onSlideChange()">
				<ion-slide *ngFor="let meal of mealPreferenceOptions; let mealIndex = index">
					<ion-card>
						<img src="{{ meal.image }}" />
						<ion-card-header>
							<ion-card-title>{{ meal.title }}</ion-card-title>
						</ion-card-header>
						<ion-card-content>
							<div class="content-row">
								<ion-img [src]="imgSrc" class="icon-ingredient"></ion-img><ion-label class="sub-heading">Ingredients:</ion-label>
							</div>
							<p class="description">{{ meal.description }}</p>
							<div class="preference-question-group" *ngFor="let question of meal.questions; let questionIndex = index" [ngClass]="{'visible': question.active}">
								<p class="sub-heading">Question {{ questionIndex + 1 }} of {{ meal.questions.length }}:</p>
								<div *ngFor="let option of question.options; let optionIndex = index" (click)="selectPreference(meal.id, question.id, option, optionIndex, questionIndex, mealIndex)">
									<ion-button slot="start" (click)="selectMeal(mealIndex)" id="option-{{meal.id}}{{questionIndex}}{{optionIndex}}"><span>{{ option }}</span></ion-button>
								</div>
								<ion-button class="transparent-butt" [ngClass]="{'hidden': questionIndex == 0}" (click)="backToPrevQuestion(questionIndex)"> &#60; Back to Previous Question</ion-button>

							</div> 
						</ion-card-content>
					</ion-card>
				</ion-slide>
			</ion-slides>
		</div>
		<div class="pager">{{ page }} of 30 meals</div>
	</div>

</ion-content>