h1 {
    color: var(--ion-color-font-main);
    font-family: var(--font-family-heading);
    font-style: var(--font-family-heading);
    font-weight: var(--font-family-heading);
    font-size: 36px;
    line-height: 45px;
    text-align: left;

    width: 100%;
    margin: 0;
    margin-top: -5px;
}

.sub-heading {
    padding-bottom: 6px;
}

.description {
    padding: 0;
}
