ion-content {
    --background: url(../../../assets/images/background-login.svg) -24px 42px fixed;
}

ion-card-title {
    text-align: center;
}

ion-card ion-card-content {
    padding: 30px 24px 40px;
}

ion-segment {
    padding: 15px 24px 0;

    &.ios {
        height: 35px;
    }
}