<ion-content>

	<div class="content-wrapper row">
		<ion-card class="content-prompt" [ngClass]="{ 'loading': state === 'loading'}">
			<ion-card-header>
				<ion-card-title>Login to Start</ion-card-title>
			</ion-card-header>

			<ion-card-content>
				<form (ngSubmit)="login()" [formGroup]="loginForm">
					<ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
					<ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
					<ion-button type="submit" [disabled]="formDisabled">Login</ion-button>
					<div class="error" [ngClass]="{'is-error': state === 'error'}">{{ errorMessage }}</div>
				</form>
			</ion-card-content>

			<div class="loading-overlay">
				<ion-spinner name="crescent" color="primary"></ion-spinner>
			</div>

		</ion-card>
	</div>

</ion-content>