ion-content {
    // --background: url(../../../assets/images/background-login.svg) -24px 42px fixed;
    --background: url(../../../assets/images/background-login.svg) center/ cover fixed;
}

ion-card-title {
    text-align: center;
}

ion-card ion-card-content {
    padding: 30px 24px 40px;
}

ion-segment {
    width: auto;
    margin: 15px 24px 0;

    &.ios {
        height: 35px;
    }
}