<ion-tabs mode="ios">
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="recipes">
            <ion-icon name="pizza-outline"></ion-icon>
            <ion-label>Recipes</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="shoppinglist">
            <ion-icon name="reader-outline"></ion-icon>
            <ion-label>Shopping List</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="reviews">
            <ion-icon name="thumbs-up-outline"></ion-icon>
            <ion-label>Reviews</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>