<ion-content>
    <div class="image-wrap">
        <img src="{{ recipe.image }}" />
        <img class="butt-close" (click)="closeModal()" src="../../../assets/images/icon-close.svg" />
    </div>
    <div class="meal-details details-wrapper ">
        <h1>{{ recipe.title }}</h1>
        <p>{{ recipe.description }}</p>
        <div class="meal-details details-box">
            <div class="detail">
                <span class="icon cooktime"></span>
                <span class="text">{{ recipe.cookTime }}</span>
            </div>
            <div class="detail">
                <span class="icon ingredients"></span>
                <span class="text">{{ recipe.ingredients.length }} ingredients</span>
            </div>
        </div>
        <div class="ingredients details-box">
            <h2>Ingredients</h2>
            <div class="ingredient-item" *ngFor="let ingredient of recipe.ingredientsFull">
                <span class="text">{{ ingredient }}</span>
            </div>
        </div>
        <div class="method details-box">
            <h2>Method</h2>
            <div class="method-steps" *ngFor="let step of recipe.method; let stepIndex = index;">
                <div class="list-node">{{ stepIndex + 1 }}</div>
                <div class="list-content"><p class="text">{{ step }}</p></div>
            </div>
        </div>
        <div class="review details-box" *ngIf="showReview">
            <h2>Let us know what you thought of this meal!</h2>
            <ion-button mode="ios" color="primary">Start Review</ion-button>
        </div>
    </div>

</ion-content>