<ion-content overflow-scroll="false" no-bounce has-bouncing="false" forceOverscroll="false">
   <div class="modal-wrapper">
      <h1>Delete your Account?</h1>
      <p>Are you sure you want to delete your account?</p>
      <p>
         This will remove all your account information from your phone and our servers. If you'd like to use Q-Chef again in the future, you'll need
         to register and go through onboarding again.
         <ion-button mode="ios" (click)="confirmDelete()"><span>Delete My Account</span></ion-button>
         <ion-button mode="ios" (click)="closeModal()"><span>Cancel</span></ion-button>
      </p>
   </div>
</ion-content>
