<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start" (click)="prevStage()">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen>

	<div class="content-wrapper column start preferences">
		<div class="progress">
            <ion-progress-bar indeterminate color="tertiary" value="{{progressValue}}"></ion-progress-bar>
			<p class="progress-percentage"> {{progressValue * 100}}% Complete</p>
		</div>
		<h1 class="content-prompt">Ingredient Preferences</h1>
		<div class="slide-options">
			<ion-slides #ingredientSlides (ionSlideDidChange)="onSlideChange()">
				<ion-slide *ngFor="let ingredient of ingredientPreferenceOptions; let ingredientIndex = index">
					<ion-card>
						<img src="{{ ingredient.image }}" />
						<ion-card-header>
							<ion-card-title>{{ ingredient.title }}</ion-card-title>
						</ion-card-header>
						<ion-card-content>
							<div class="preference-question-group" *ngFor="let question of ingredient.questions; let questionIndex = index" [ngClass]="{'visible': question.active}">
								<p class="sub-heading">Question {{ questionIndex + 1 }} of {{ ingredient.questions.length }}:</p>
								<div *ngFor="let option of question.options; let optionIndex = index" (click)="selectPreference(ingredient.id, question.id, option, questionIndex, ingredientIndex)">
									<ion-button slot="start" id="ingredient-{{ingredient.id}}{{questionIndex}}{{optionIndex}}"><span>{{ option }}</span></ion-button>
								</div>
								<ion-button class="transparent-butt" [ngStyle]="{'display': (ingredientIndex == 0 && questionIndex == 0) ? 'block' : 'none' }" (click)="goBack()"> &#60; Back to Previous Card</ion-button>
								<ion-button class="transparent-butt" [ngClass]="{'hidden': questionIndex == 0, 'not-display': ingredientIndex == 0 && questionIndex == 0 }" (click)="backToPrevQuestion(questionIndex)"> &#60; Back to Previous Question</ion-button>
							</div>
						</ion-card-content>
					</ion-card>
				</ion-slide>
			</ion-slides>
		</div>
		<div class="pager">{{ page }} of 30 meals</div>
	</div>

</ion-content>