<ion-content no-bounce has-bouncing="false" forceOverscroll="false">

	<div class="content-wrapper column">
		<ion-card class="content-prompt" [ngClass]="{ 'loading': state === 'loading'}">

      <ion-card-header>
				<ion-card-title>Forgot Password</ion-card-title>
			</ion-card-header>

			<ion-card-content>
				<form (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm">
					<ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
          <div class="inline-error" [ngClass]="{'is-error': forgotPasswordForm.get('email').dirty && forgotPasswordForm.get('email').invalid}">Please enter a valid email address</div>
					<ion-button mode="ios" type="submit" [disabled]="formDisabled">Submit</ion-button>
					<div class="error" [ngClass]="{'is-error': state === 'error'}">{{ errorMessage }}</div>
				</form>
			</ion-card-content>

			<div class="loading-overlay">
				<ion-spinner name="crescent" color="primary"></ion-spinner>
			</div>

		</ion-card>
		<ion-button class="transparent-butt-link" [routerLink]="['/login']" >Login</ion-button>

	</div>

</ion-content>