<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons mode="ios" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <h1>Meal Plan Summary</h1>
    <p class="summary-description">Review, edit & confirm your choices for this week</p>
    <ion-item *ngFor="let mealslot of mealSlots" (click)="changeMeal(mealslot)" lines="none" class="ion-no-padding">
        <ion-thumbnail slot="start">
            <img src="{{ mealslot.recipe.image }}">
        </ion-thumbnail>
        <ion-label text-wrap>
        <h2>{{ mealslot.recipe.title }}</h2>
        <p>{{ mealslot.recipe.description }}</p>
        <p class="text-button">Change Meal</p>
        </ion-label>
    </ion-item>
    <ion-button color="primary" (click)="goToNext()">Confirm</ion-button>
</ion-content>