ion-content {
    --padding-start: 18px;
    --padding-end: 18px;

    .content-wrapper {
        align-items: start;
    }

    .page-info {
        text-align: left;
    }

    h1{
        font-size: 36px;
        line-height: 45px;
    }

    h1, p.summary-description {
        padding-left: 6px;
        padding-right: 6px;
    }

    p.summary-description {
        margin-bottom: 15px;
    }

    ion-button {
        width: 240px;
    }

    ion-item {
        padding-inline-start: 0;
        padding-inline-end: 0;
        border: 1px solid var(--ion-color-input-border);
        border-radius: 8px;
        margin-bottom: 18px;
        width: 100%;
        height: 126px;

        &:last-of-type {
            margin-bottom: 56px;
        }

        ion-thumbnail {
            border-radius: 8px 0px 0px 8px;
            margin-top: 0;
            margin-bottom: 0;
            height: 126px;
            width: 100px;
            object-fit: cover;
        }

        ion-label {
            h2, p {
                font-family: var(--font-family-body);
                font-style: var(--font-style-body);
                font-weight: var(--font-weight-body);
                color: var(--ion-color-font-main);
            }

            h2 {
                font-size: 20px;
                line-height: 23px;
                margin-bottom: 5px;
            }

            p {
                font-size: 14px;
                line-height: 18px;
            }

            .text-button {
                font-family: var(--font-family-question-button);
                font-style: var(--font-style-question-button);
                font-weight: var(--font-weight-question-button);
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;

                color: var(--ion-color-primary);
                margin-top: 9px;
            }
        }

        .description {
            display: block;
            display: -webkit-box;
            max-width: 100%;
            height: 43px;
            margin: 0 auto;
            font-size: 14px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

