<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons mode="ios" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <img class="logo" src="../../../../../assets/images/header-logo.svg">
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="content-wrapper column start">

        <div class="page-info">
            <h1>Meal Plan Summary</h1>
            <p class="summary-description">Review, edit & confirm your choices for this week</p>
        </div>

        <ion-item *ngFor="let mealslot of mealSlots" (click)="changeMeal(mealslot)" lines="none" class="ion-no-padding">
            <ion-thumbnail slot="start">
                <img src="{{ mealslot.recipe.image }}">
            </ion-thumbnail>
            <ion-label text-wrap>
                <h2>{{ mealslot.recipe.title }}</h2>
                <p class="text-button">Change Meal</p>
            </ion-label>
        </ion-item>
        <div class="button-wrap">
            <ion-button mode="ios" color="primary" (click)="setWeekStartDate()">Confirm</ion-button>
        </div>
    </div>
</ion-content>