<ion-header [translucent]="false">
	<ion-toolbar class="header-dashboard">
		<img class="logo" src="../../../../../assets/images/header-logo.svg" />

		<ion-buttons mode="ios" slot="end">
			<ion-buttons slot="start">
				<ion-menu-button autoHide="false"></ion-menu-button>
			</ion-buttons>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen class="has-tabs">
	<div class="content-wrapper column start">
		<h1>Review</h1>
		<h2>{{ mealTitle }}</h2>
		<p class="italic-note">All fields are required</p>
		<div class="review-form">
			<form (ngSubmit)="submitReview()" [formGroup]="reviewForm">
				<ion-card>
					<ion-img
						class="photo"
						*ngIf="photo"
						[src]="photo.changingThisBreaksApplicationSecurity"
					></ion-img>
				</ion-card>

				<div class="btn-wrapper">
					<ion-button
						mode="ios"
						color="secondary"
						class="btn-add-photo"
						(click)="updatePhotoFrom()"
						>ADD PHOTO</ion-button
					>
				</div>

				<p
					class="questions"
					[ngClass]="{
						invalid:
							!reviewForm.controls.reason.valid &&
							!reviewForm.controls.reason.pristine
					}"
				>
					Why did you include this recipe in your meal plan?
				</p>
				<ion-textarea
					formControlName="reason"
					placeholder="Type response here..."
					required
				></ion-textarea>

				<p
					class="questions"
					[ngClass]="{
						invalid:
							!reviewForm.controls.feeling.valid &&
							!reviewForm.controls.feeling.pristine
					}"
				>
					How was it?
				</p>
				<ion-textarea
					formControlName="feeling"
					placeholder="Type response here..."
					required
				></ion-textarea>

				<p
					class="questions"
					[ngClass]="{
						invalid:
							!reviewForm.controls.taste.valid &&
							!reviewForm.controls.taste.pristine
					}"
				>
					It tasted...
				</p>
				<ion-list>
					<ion-radio-group formControlName="taste">
						<ion-item lines="none">
							<ion-label
								[ngClass]="{
									invalid:
										!reviewForm.controls.taste.valid &&
										!reviewForm.controls.taste.pristine
								}"
								>like other things I've had before</ion-label
							>
							<ion-radio
								mode="md"
								slot="start"
								value="0"
							></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label
								[ngClass]="{
									invalid:
										!reviewForm.controls.taste.valid &&
										!reviewForm.controls.taste.pristine
								}"
								>a bit like something I've had before
							</ion-label>
							<ion-radio
								mode="md"
								slot="start"
								value="1"
							></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label
								[ngClass]="{
									invalid:
										!reviewForm.controls.taste.valid &&
										!reviewForm.controls.taste.pristine
								}"
								>unlike anything else I've had before</ion-label
							>
							<ion-radio
								mode="md"
								slot="start"
								value="2"
							></ion-radio>
						</ion-item>
					</ion-radio-group>
				</ion-list>

				<p
					class="questions"
					[ngClass]="{
						invalid:
							!reviewForm.controls.enjoy.valid &&
							!reviewForm.controls.enjoy.pristine
					}"
				>
					Eating it...
				</p>
				<ion-list>
					<ion-radio-group formControlName="enjoy">
						<ion-item lines="none">
							<ion-label
								[ngClass]="{
									invalid:
										!reviewForm.controls.enjoy.valid &&
										!reviewForm.controls.enjoy.pristine
								}"
								>was enjoyable</ion-label
							>
							<ion-radio
								mode="md"
								slot="start"
								value="0"
							></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label
								[ngClass]="{
									invalid:
										!reviewForm.controls.enjoy.valid &&
										!reviewForm.controls.enjoy.pristine
								}"
								>was somewhat enjoyable</ion-label
							>
							<ion-radio
								mode="md"
								slot="start"
								value="1"
							></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label
								[ngClass]="{
									invalid:
										!reviewForm.controls.enjoy.valid &&
										!reviewForm.controls.enjoy.pristine
								}"
								>wasn’t really something I enjoyed</ion-label
							>
							<ion-radio
								mode="md"
								slot="start"
								value="2"
							></ion-radio>
						</ion-item>
					</ion-radio-group>
				</ion-list>

				<p
					class="questions"
					[ngClass]="{
						invalid:
							!reviewForm.controls.tryAgain.valid &&
							!reviewForm.controls.tryAgain.pristine
					}"
				>
					Would you cook this again?
				</p>
				<ion-list>
					<ion-radio-group formControlName="tryAgain">
						<ion-item lines="none">
							<ion-label
								[ngClass]="{
									invalid:
										!reviewForm.controls.tryAgain.valid &&
										!reviewForm.controls.tryAgain.pristine
								}"
								>Yes</ion-label
							>
							<ion-radio
								mode="md"
								slot="start"
								value="0"
							></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label
								[ngClass]="{
									invalid:
										!reviewForm.controls.tryAgain.valid &&
										!reviewForm.controls.tryAgain.pristine
								}"
								>Only for the right occasion</ion-label
							>
							<ion-radio
								mode="md"
								slot="start"
								value="1"
							></ion-radio>
						</ion-item>
						<ion-item lines="none">
							<ion-label
								[ngClass]="{
									invalid:
										!reviewForm.controls.tryAgain.valid &&
										!reviewForm.controls.tryAgain.pristine
								}"
								>Probably not</ion-label
							>
							<ion-radio
								mode="md"
								slot="start"
								value="2"
							></ion-radio>
						</ion-item>
					</ion-radio-group>
				</ion-list>

				<ion-button
					mode="ios"
					color="primary"
					type="submit"
          class="btn-submit"
          [ngClass]="{'submitted': formSubmitted}"
					[disabled]="!reviewForm.valid && photoBase64 == null || formSubmitted"
					>SUBMIT<ion-spinner *ngIf="formSubmitted" name="crescent" color="light"></ion-spinner></ion-button
        >
			</form>
		</div>
	</div>
</ion-content>
