<ion-header [translucent]="false">
  <ion-toolbar class="with-border">
      <ion-item lines="none">
        <ion-thumbnail>
            <img src="../../../../../assets/images/splash.svg">
        </ion-thumbnail>
        <ion-label>Chef</ion-label>
      </ion-item>

      <ion-buttons mode="ios" slot="end">
          <ion-buttons slot="start">
              <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="has-tabs">
  <div class="content-wrapper column start">
    <h1>Review</h1>
    <h2>{{ mealTitle }}</h2>
    <p class="italic-note">All fields are required</p>
    <div class="review-form">
    
    <form (ngSubmit)="submitReview()" [formGroup]="reviewForm">
      <ion-card>
        <ion-card-content>
          <ion-img [src]="iconSrc"></ion-img>
        </ion-card-content>
      </ion-card>

      <div class="btn-wrapper">
        <ion-button mode="ios" color="secondary" class="btn-add-photo">ADD PHOTO</ion-button>
      </div>

      <p class="questions" [ngClass]="{'invalid': !this.isReasonValid}">Why did you include this recipe in your meal plan?</p>
      <ion-textarea formControlName="reason" placeholder="Type response here..." required (ionChange)="updateTextarea('reason', $event)"></ion-textarea>

      <p class="questions" [ngClass]="{'invalid': !this.isFeelingValid}">How was it?</p>
      <ion-textarea formControlName="feeling" placeholder="Type response here..." required (ionChange)="updateTextarea('feeling', $event)"></ion-textarea>

      <p class="questions" [ngClass]="{'invalid': !this.isTasteValid}">It tasted...</p>
      <ion-list>
        <ion-radio-group   (ionChange)="updateRadioValue('taste', $event)" formControlName="taste">
          <ion-item lines="none">
            <ion-label [ngClass]="{'invalid': !this.isTasteValid}">like other things I've had before</ion-label>
            <ion-radio mode="md" slot="start" value="1" ></ion-radio>

          </ion-item>
          <ion-item lines="none">
            <ion-label [ngClass]="{'invalid': !this.isTasteValid}">a bit like something I've had before </ion-label>
            <ion-radio mode="md" slot="start" value="2" ></ion-radio>

          </ion-item>
          <ion-item lines="none">
            <ion-label [ngClass]="{'invalid': !this.isTasteValid}">unlike anything else I've had before</ion-label>
            <ion-radio mode="md" slot="start" value="3"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <p class="questions" [ngClass]="{'invalid': !this.isEnjoyValid}">Eating it...</p>
      <ion-list >
        <ion-radio-group (ionChange)="updateRadioValue('enjoy', $event)" formControlName="enjoy">
          <ion-item lines="none">
            <ion-label [ngClass]="{'invalid': !this.isEnjoyValid}">was enjoyable</ion-label>
            <ion-radio mode="md" slot="start" value="1"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label [ngClass]="{'invalid': !this.isEnjoyValid}">was somewhat enjoyable</ion-label>
            <ion-radio mode="md" slot="start" value="2"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label [ngClass]="{'invalid': !this.isEnjoyValid}">wasn’t really something I enjoyed</ion-label>
            <ion-radio mode="md" slot="start" value="3"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <p  class="questions" [ngClass]="{'invalid': !this.isTryAgainValid}">Would you cook this again?</p>
      <ion-list >
        <ion-radio-group (ionChange)="updateRadioValue('tryAgain', $event)" formControlName="tryAgain">
          <ion-item lines="none">
            <ion-label [ngClass]="{'invalid': !this.isTryAgainValid}">Yes</ion-label>
            <ion-radio mode="md" slot="start" value="1"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label [ngClass]="{'invalid': !this.isTryAgainValid}">Only for the right occasione</ion-label>
            <ion-radio mode="md" slot="start" value="2"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label [ngClass]="{'invalid': !this.isTryAgainValid}">Probably not</ion-label>
            <ion-radio mode="md" slot="start" value="3"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-button mode="ios" color="primary" type="submit" class="btn-submit">SUBMIT</ion-button>
    </form>
  </div>
  </div>
</ion-content>
