<ion-header [translucent]="false">
  <ion-toolbar class="header-dashboard">
      <img class="logo" src="../../../../../assets/images/header-logo.svg">

      <ion-buttons mode="ios" slot="end">
          <ion-buttons slot="start">
              <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="has-tabs">

  <div class="content-wrapper column start">
      <h1>Shopping List</h1>

      <div class="mealslot" *ngFor="let meal of mealSlots">
          <div class="meal-content">
              <h2>{{ meal.recipe.title }}</h2>

              <div class="ingredients details-box">
                <div class="ingredient-item" *ngFor="let ingredient of meal.recipe.ingredientsFull">
                    <p class="text">{{ ingredient }}</p>
                </div>
              </div>
          </div>
      </div>
  </div>

</ion-content>