.header {
    font-size: 36px;
    line-height: 45px;
    color: var(--ion-color-font-main);
    font-family: var(--font-family-subheading);
    font-weight: var(--font-weight-heading);
    font-style: var(--font-weight-subheading);
}

.description {
    font-size: 18px;
    line-height: 23.4px;
    color: var(--ion-color-font-main);
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
    font-style: var(--font-style-body);
}