

.swiper-slide {

    .selected-border {
        display: none;
    }

    &.selected {

        .selected-border {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            border: 3px solid var(--ion-color-primary);
            border-radius: 8px;
        }

    }

    &.disabled {

        ion-card {
            opacity: 0.2;
        }

    }

}

.meal-info {
    padding: 0 20px;
    width: 100%;

    h1 {
        font-size: 36px;
        text-align: left;
    }

    p {
        margin: 0;
    }
}

ion-slides {
    padding-bottom: 40px;

    .swiper-pagination {
        bottom: 0;
    }

    ion-card {
        border-radius: 8px;
        text-align: left;

        .image-wrap {
            height: 225px;
            background: var(--ion-color-disabled);

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 0.3s;

                &.loaded {
                    opacity: 1;
                }
            }
        }

        ion-card-header {
            padding: 0 20px;

            ion-card-title {
                font-size: 24px;
                font-family: var(--font-family-body);
            }

        }

        ion-card-content {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;

            p {
                padding-top: 0;
                text-align: left;
            }

            ion-button {
                width: 180px;
            }

        }


    }
}

ion-row.ingredient-details, .description-detail.show-more {
    margin: 0 28px !important;
}

.show-more {
    span{
        font-family: var(--font-family-button);
        font-style: var(--font-style-button);
        font-weight: var(--font-weight-button);
        font-size: 14px;
        line-height: 16.59px;
        text-transform: uppercase;

        color: var(--ion-color-primary);
    }
}

.move-up {
    position: relative;
    top: -23px;
}

.butt-continue {
    width: 240px;
    margin-bottom: 30px;
}

.small {
    margin-bottom: 20px;
}

.meal-slots {
    width: 100%;
    min-height: 120px;
    padding: 20px;
    //display: table;
    //overflow-x: scroll;
    //white-space: nowrap;
    display: flex;
}

.button-disabled {
    &.ion-color-primary {
        --ion-color-base: var(--ion-color-disabled, #3880ff)!important;
    }
}