.swiper-slide {
    &.selected {

        ion-card {
            border: 3px solid var(--ion-color-secondary);
        }

    }

    &.disabled {

        ion-card {
            opacity: 0.2;
        }

    }

}

ion-slides {
    padding-bottom: 20px;

    .swiper-pagination {
        bottom: 0;
    }
}

.meal-slots {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}