<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons mode="ios" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>

    <div class="content-wrapper column start">

        <div class="meal-slots">
            <meal-slot *ngFor="let mealslot of mealSlots" [mealSlot]="mealslot"></meal-slot>
        </div>

        <div class="meal-info">
            <h1 *ngIf="!changeMeal">Select Meal {{ currentMealSlot?.id }}</h1>
            <h1 *ngIf="changeMeal">Change Meal {{ currentMealSlot?.id }}</h1>
            <p>Swipe left to see more options. Tap recipe card for more information.</p>
        </div>


        <div class="slide-options">
			<ion-slides #mealSlides pager="true">
				<ion-slide *ngFor="let meal of visibleMealOptions; let mealIndex = index" [ngClass]="{'selected': meal.selected }">
					<ion-card>
                        <div class="selected-border"></div>
                        <div class="image-wrap" >
                            <img src="{{ meal.image }}" (load)="imageLoaded(meal)" [ngClass]="{'loaded': meal.loaded }" (click)="openRecipe(meal)"/>
                        </div>
						<ion-card-header>
							<ion-card-title>{{ meal.title }}</ion-card-title>
						</ion-card-header>
						<ion-card-content>
                            <p>{{ meal.description }}</p>
                            <div class="meal-details">
                                <div class="detail">
                                    <span class="icon cooktime"></span>
                                    <span class="text">{{ meal.cookTime }}</span>
                                </div>
                                <div class="detail">
                                    <span class="icon ingredients"></span>
                                    <span class="text">{{ meal.ingredients.length }} ingredients</span>
                                </div>
                            </div>
                            <ion-button mode="ios" class="small" color="font-button" *ngIf="!meal.selected" (click)="selectMeal(mealIndex)"><span>Select Meal</span></ion-button>
                            <ion-button mode="ios" class="small" color="primary" *ngIf="meal.selected" ><span>Selected</span></ion-button>
						</ion-card-content>
					</ion-card>
				</ion-slide>
			</ion-slides>
        </div>

        <ion-button class="butt-continue" mode="ios" *ngIf="!changeMeal" color="primary" [disabled]="!currentMealSlot?.selected" (click)="goToNext()">Continue</ion-button>
        <ion-button class="butt-continue" mode="ios" *ngIf="changeMeal" color="primary" [disabled]="!currentMealSlot?.selected" (click)="goToSummary()">View Summary</ion-button>

    </div>

</ion-content>