<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons mode="ios" slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen>

  <div class="content-wrapper column start">

    <div class="progress">
        <ion-progress-bar indeterminate color="tertiary" value="{{progressValue}}"></ion-progress-bar>
        <p class="progress-percentage"> {{progressValue * 100}}% Complete</p>
    </div>

      <div class="content">
          <ion-card class="content-prompt">
              <ion-card-header>
                  <ion-card-title>Number of Meals</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                  <p>How many recipes do you want to prepare this week?</p>
                  <div class="input-fields">
                    <ion-img class="minus" [src]="iconMinus"></ion-img>
                    <ion-input></ion-input>
                    <ion-img class="plus" [src]="iconPlus"></ion-img>  
                  </div>
                  <ion-button mode="ios" color="primary" (click)="next()">Next</ion-button>
              </ion-card-content>

              <div class="loading-overlay">
                  <ion-spinner name="crescent" color="primary"></ion-spinner>
              </div>
          </ion-card>
      </div>


  </div>

</ion-content>