<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

	</ion-toolbar>
</ion-header>
<ion-content fullscreen>

  <div class="content-wrapper column start">

      <div class="progress">
        <ion-progress-bar indeterminate color="tertiary" value="1"></ion-progress-bar>
        <p class="progress-percentage">On Boarding is Complete!</p>
      </div>

      <div class="content column start content-prompt">
          <ion-img [src]="imgSrc" class="complete-image ion-align-self-center"></ion-img>
          <h1>Please wait</h1>
          <p>We are creating a personalised meal plan for you now!</p>
      </div>


  </div>

</ion-content>