<ion-header [translucent]="false">
    <ion-toolbar class="with-border">
        <ion-item lines="none">
          <ion-thumbnail>
              <img src="../../../../../assets/images/splash.svg">
          </ion-thumbnail>
          <ion-label>Chef</ion-label>
        </ion-item>

        <ion-buttons mode="ios" slot="end">
            <ion-buttons slot="start">
                <ion-menu-button autoHide="false"></ion-menu-button>
            </ion-buttons>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content class="has-tabs" [ngClass]="{'loading': isLoading}">

    <div class="loading-overlay">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>

    <div class="content-wrapper column start" *ngIf="!isNewWeek && !isLoading">

        <div class="page-info">
            <h1>Meal Plan</h1>
            <p>Here is your personalised yummy meal plan with {{ mealSlots.length }} meals.</p>
        </div>

        <div class="mealslot" *ngFor="let meal of mealSlots">

            <div class="image-wrap">
                <img src="{{ meal.recipe.image }}" />
            </div>
            <div class="meal-content">
                <h2>{{ meal.recipe.title }}</h2>
                <p>{{ meal.recipe.description }}</p>
                <div class="meal-details">
                    <div class="detail">
                        <span class="icon cooktime"></span>
                        <span class="text">{{ meal.recipe.cookTime }}</span>
                    </div>
                    <div class="detail">
                        <span class="icon ingredients"></span>
                        <span class="text">{{ meal.recipe.ingredients.length }} ingredients</span>
                    </div>
                </div>
                <ion-button mode="ios" color="primary" (click)="openRecipe(meal.recipe)">View &amp; Cook Meal</ion-button>
            </div>

        </div>

    </div>

    <div class="content-wrapper column" *ngIf="isNewWeek && !isLoading">

        <p>You have no selected meals for this week.</p>
        <ion-button mode="ios" color="primary" (click)="startWeeklyFlow()">Pick Weekly Meals</ion-button>

    </div>



</ion-content>